# Rust
/api/target
/cli/target

# Node
node_modules
.next
out

# Python
**/__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.venv/
build/
dist/
*.egg-info/

# Env
.env
.env*.local

# OS / editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
