[package]
name = "{{package_name}}"
version = "0.1.0"
edition = "2021"
description = "{{package_description}}"
license = "Apache-2.0"
publish = false

[lib]
name = "{{crate_name}}"
crate-type = ["cdylib", "rlib"]

[dependencies]
soroban-sdk = { version = "21.0.0", default-features = false, features = ["contract"] }
soroban-token-sdk = { version = "21.0.0", default-features = false, features = ["token"] }